* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 31, 31);
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.content {
    text-align: center;
    
}


.content a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 15px;
    transition: 0.4s;
}


.content a:hover{
    background-color: #fff;
    color: #000;
}


.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    
    z-index: -1;
}

.content h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
    
}

.content p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;

    }
}





